*{
	margin: 0;
	padding: 0;
}

.div{
	width: 1349px;
	height: 5100px;
}

#top1 img{
	width: 100%;
	height: 580px;
}
#left{
	width:260px;
	height:1000px;
	border: 1px white solid;
	background-color: white;
	position: absolute;	
}
#img1{
	float: right;
	
}
#text-1{
	width: 850px;	
	font-family:   "arial narrow";	
	font-size: 18px;	
	position: relative;
	top: 20px;
	left:360px;
	
	
}
#text-2{
	width: 850px;
	font-family:"arial narrow";		
	position: relative;
	top: 70px;
	left:360px;
	font-size: 18px;
}
#text-2 p{
	font-family: "arial black";
	font-size: larger;
	letter-spacing: :;px;
	font-weight: bolder;
}
#img2 img{
	width: 850px;
	height: 750px;
}
#text-3{
	width: 850px;
	font-family:"arial narrow";		
	position: relative;
	top: 100px;
	left:360px;
	font-size: 18px;
}
#text-3 p{
	font-family: "arial black";
	font-size: larger;
	letter-spacing: :;px;
	font-weight: bolder;
}
#text-4{
	width: 850px;
	font-family:"arial narrow";		
	position: relative;
	top: 100px;
	left:360px;
	font-size: 18px;
}
#text-4 p{
	font-family: "arial black";
	font-size: larger;
	letter-spacing: :;px;
	font-weight: bolder;
}
#text-5{
	width: 850px;
	font-family:"arial narrow";		
	position: relative;
	top: 100px;
	left:360px;
	font-size: 18px;
}
#text-5 p{
	font-family: "arial black";
	font-size: larger;
	letter-spacing: :;px;
	font-weight: bolder;
}
#img3 img{
	width: 850px;
	height:1000px;

}

